<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="container-main">
  <mat-list *ngIf="!isLoading">
    <mat-list-item *ngFor="let invoice of invoices">
      <div class="container-list-element" (click)="showInvoiceImage(invoice.imagePath)">
        <mat-label>
          <h2>
            <mat-icon>restaurant_menu</mat-icon> {{ invoice.restaurant }}
          </h2>
          <p>
            <mat-icon>euro_symbol</mat-icon> {{ invoice.amount | currency: 'EUR' }}
          </p>
          <p class="date">
            <mat-icon>calendar_today</mat-icon> {{ invoice.date | date: 'dd.MM.yyyy'}}
          </p>
        </mat-label>
        <div class="container-icon-button" *ngIf="userIsAdmin">
          <button mat-mini-fab color="" [routerLink]="['/edit', invoice.id]">
            <mat-icon class="icon-button">edit</mat-icon>
          </button>
          <button mat-mini-fab color="" (click)="deleteInvoice(invoice.id)">
            <mat-icon class="icon-button">delete_outline</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>

  <div class="div-image" *ngIf="imagePath">
    <mat-icon (click)="imagePath = ''">close</mat-icon>
    <img [src]="imagePath" alt="Invoice Image">
  </div>
</div>

