mat-form-field{
  width: 100%;
}

mat-card{
  padding: 2rem 2rem;
}

.image-preview {
  height: 25rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

.submit-button {
  margin-top: 1rem;
}
